
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
          <a class="nav-link" routerLink="/company"> Company Overview </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stock">Stock Comparison</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolio">Build portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/live">Live data</a>
      </li>
    </ul>
    
  </div>
</nav>





<div class="container">
  <div class="row">
    <div class="col-12"><p></p></div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-sm-1">
      
    </div>
    <div class="col-md-10 col-md-auto">
      
      <router-outlet></router-outlet>
    </div>
    <div class="col col-sm-1">
      
    </div>
  </div>
  </div>
